i.icon {
	font-size: 2em;
}

.container.main {
	margin-top: 7em; 
}

.show_form {
	display: inline;
}

.ui.placeholder.segment {
	min-height: 10rem;
	margin-top: 100px;
}

.ui.icon.header .icon {
	font-size: 1.5em;
}